%footer.text-muted
    .container
        %p.float-right
            %a{:href => "#"} Back to top
            | 
            =link_to 'View all portfolio Items', portfolios_path
        %p= copyright_generator
            
        