.inner.cover
    %h1.cover-heading Welcome
    %p.lead 
        Software development should not be a secret process, when I take on a new project I make it my goal
        to not only deliver a well crafted product but to also ensure that each stage of the process is fully
        communicated.
    %p.lead
        =link_to "About Me", about_path, class: 'btn btn-lg btn-secondary'

